<h1> Create account </h1>


<%= form_with(model: @account) do |form| %>
  <div class = "fields">
    <%= form.label :firstName %>
    <%= form.text_field :firstName %>
  </div>

  <div class = "fields">
    <%= form.label :secondName %>
    <%= form.text_field :secondName %>
  </div>

  <div class = "fields">
    <%= form.label :age %>
    <%= form.number_field  :age %>
  </div>
  <div class = "actions">
    <%= form.submit "Create"%>
  </div>




<% end %>
<div>
  <%=  puts @account %>
</div>


<%#= form_for @account, url: accounts_path do |f| %>
  <%# if @account.errors.any? %>
<!--    <div id="errorExplanation">-->
<!--      <h2><%#= pluralize(@account.errors.count, "error") %> prohibited-->
<!--        this post from being saved:</h2>-->
<!--      <ul>-->
        <%# @account.errors.full_messages.each do |msg| %>
<!--          <li><%#= msg %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>
<!--  <p>-->
<!--    <%#= f.label :firstName %><br>-->
    <%#= f.text_field :firstName %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= f.label :secondName %><br>-->
    <%#= f.text_field :secondName %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#= f.label :age %><br>-->
    <%#= f.number_field :age %>
<!--  </p>-->

<!--  <p>-->
<!--    <%#=f.label :save %><br>-->
    <%#= f.submit %>

<!--  </p>-->
<%# end %>

<% #@account.save #redirect_to "accounts#edit" %>

